body {
    font-family: Calibri, sans-serif;
    background-color: #ececec;
}

.App {
    padding-top: 30px;
    position: relative;
}

.pre-tabs, .tabs-first, .App table {
    float: left;
    margin-bottom: 15px;
}

.pre-tabs {
    position: absolute;
    left: -12px;
}

.App .rows div {
    padding: 5px;
    margin: 0;
    font-size: 18px;
    width: 40px;
    height: 30px;
    position: relative;
    border-top: 1px solid #565656;
    border-bottom: 1px solid #565656;
}

.App .tables .rows div:last-child {
    border-right: 1px solid black;
}

.App .tables .rows:first-child div {
    border-top: 0;
    border-right: 0;
}

.App .tables .rows div:first-child {
    border-left: 1px solid black;
}

.App .tables .rows:first-child div:first-child {
    border-left: 0;
}

.App .pre-tabs tr td,
.App .pre-tabs tr td:first-child,
.App .pre-tabs tr td:last-child {
    border: 0;
}

.App .pre-tabs div {
    width: 30px;
}

.table {
    border-spacing: 0;
    display: inline-block;
    width: 320px;
}
.rows {
    display: table-row;
}
.rows > div {
    display: table-cell;
    position: relative;
    height: 30px;
    width: 40px;
}

.tables input {
    width: 34px;
    position: absolute;
    top: 12px;
    font-size: 16px;
    height: 32px;
    background: rgba(245, 222, 179, 0);
    border: 0;
    text-align: center;
    z-index: 99;
}

.tables .preName {
    position: relative;
    top: 12px;
    background: rgb(255, 255, 255);
    border: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    left: 12px;
    width: 26px;
    height: 30px;
}

#buttons-container.hide {
    opacity: 0;
    transition: 0.7s;
    z-index: -1;
}

#buttons-container.show {
    opacity: 1;
    transition: 0.7s;
    z-index: 9;
}

.btn {
    font-family: 'McLaren', cursive;
    position: fixed;
    right: 25px;
    width: 150px;
    border-radius: 0;
    color: #000000;
    border-color: #000000;
}

.btn-primary:hover {
    background-color: #F44336;
    border-color: #000000;
    color: #000000;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
}

.add {
    top: 30px;
    background-color: #4CAF50;
}

.remove {
    top: 67px;
    background: #c18f20;
}

.print {
    top: 104px;
    background: #8BC34A;
}

.tables .filled {
    background: white;
}

h3, .desc,
h3 input, .desc input {
    border: 0;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer, header {
    background: #272727;
    padding: 15px;
    margin-top: 60px;
}

footer p, footer a, footer h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
}

footer a:hover {
    color: #ffffff;
}

footer h3 {
    font-family: 'McLaren', cursive;
    font-size: 18px;
    margin-bottom: 1em;
}

footer .grey, footer .grey a {
    color: #808080;
}

header {
    background-image: url(../img/bg.jpg);
    margin-top: 0;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin: 40px 0;
}

header h2 {
    font-family: 'McLaren', cursive;
    font-size: 19px;
    text-align: justify;
    color: black;
}

header h3 {
    font-family: 'Indie Flower', cursive;
    color: black;
}

header img {
    transition: 0.5s;
    cursor: pointer;
}

header img.rotate {
    transform: rotate(180deg);
}

.sub-header {
    background: #c18f20;
    margin-bottom: 60px;
    color: #171717;
    transition:height 1s ease-out;
    height:0;
    overflow:hidden;
}

.sub-header.show {
    opacity: 1;
    height: 220px;
}

.sub-header p {
    font-family: 'McLaren', cursive;
    font-size: 16px;
}

.sub-header a {
    color: #2d4d08;
}

.sub-header .container {
    padding: 20px;
}

.App .container {
    background: white;
    box-shadow: 3px 0px 9px #595959;
}

.container {
    max-width: 360px;
}

@media (min-width: 340px) {
    .sub-header.show {
        height: 550px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 360px;
    }
    .sub-header.show {
        height: 550px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 680px;
    }
    .sub-header.show {
        height: 320px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 670px;
    }
    .sub-header.show {
        height: 320px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1020px;
        padding: 25px 30px 10px 30px;
    }

    .sub-header.show {
        height: 220px;
    }
}

@media print {
    a, .btn, header, footer {
        display: none;
    }

    .row {
        display: table;
    }

    @page {
        size:  auto;
        margin: 0mm 15mm;
    }

    html {
        margin: 0px;
    }

    body {
        margin: 10mm 0;
    }
}



